* {
  box-sizing: border-box;
}

.reveal h1 {
  font-size: 5rem;
}

.reveal h4 {
  color: #59B279;
}

.reveal section img {
  border: none;
  background: none;
}

.reveal .row {
  margin-top: 1em;
}

.reveal .row .row__part {
  margin: 0 30px;
  display: inline-block;
}

.third {
  float: left;
  width: 33%;
  padding: 15px;
}

.half {
  float: left;
  width: 50%;
  padding: 15px;
}

.why .third {
  margin-top: 1em;
}

#theme-counter {
  opacity: 1;
  transition: all 0.5s;
  
  margin-top: 3em;
  font-size: 1.4em;
}

#theme-counter.invisible {
  opacity: 0;
}

.reveal img.floating {
  float: left;
  margin: 0 10px;
  max-height: 400px;
}
